header {
  min-height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

header .logo a {
  font-size: 20px;
  text-transform: uppercase;
  color: black;
}
header nav {
  display: flex;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #555;
  padding: 0 15px;
}
nav ul li a:hover {
  color: lightgreen;
}
nav .nav-cart {
  cursor: pointer;
  position: relative;
}
nav .nav-cart span {
  position: absolute;
  top: -12px;
  right: -7px;
  background: crimson;
  font-size: 10px;
  color: white;
  padding: 3px 5px;
  border-radius: 50%;
  z-index: -1;
}
header .menu,
header .close {
  cursor: pointer;
  display: none;
}
@media (max-width: 650px) {
  nav ul {
    position: fixed;
    left: -100%;
    top: 0%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: white;
    z-index: 99;
    opacity: 0.9;
    transition: 0.5s linear;
  }
  header .menu,
  header .close {
    display: block;
  }
  header .close {
    position: absolute;
    top: 10px;
    right: 20px;
  }
  nav ul.toggle {
    left: 0%;
  }
}
