#product {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: 0 0 5px #ccc;
  padding: 15px 10px;
}
.card {
  min-width: 300px;
  min-height: 400px;
  border: 1px solid #eee;
  overflow: hidden;
  padding: 10px;
  box-shadow: 2px 8px 20px #ddd;
  margin: 10px;
  transition: 0.5s linear;
}
.card:hover {
  box-shadow: none;
}
.card img {
  max-width: 300px;
  width: 100%;
  height: 100%;
  max-height: 300px;
  display: block;
  object-fit: cover;
}
.card img:hover {
  transform: scale(1.1);
  transition: 0.5s linear;
}
.card h2 {
  text-transform: uppercase;
  margin: 10px 0;
}
.card h2:hover {
  color: crimson;
}
.card span {
  color: crimson;
}
.card p {
  margin: 10px 0;
}
.card button {
  border: none;
  outline: none;
  background: #333;
  color: white;
  width: 100%;
  height: 40px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 15px 0;
}
