.single-page {
  box-shadow: 0 0 5px #ccc;
  padding: 15px 10px;
}
.single-page h2 {
  text-align: center;
}
.details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 50px 0;
  overflow: hidden;
}
.details-img {
  max-width: 470px;
  min-width: 290px;
  height: 300px;
  width: 100%;
  display: block;
  object-fit: cover;
  padding-top: 5px;
}

.details .content {
  max-width: 500px;
  min-width: 290px;
  margin: 25px;
}
.content .row {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
  align-items: center;
}
.content .row h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.content .row span {
  font-size: 18px;
  color: crimson;
}
.content .colors button {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  outline: none;
  margin-right: 5px;
}
.content p {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 15px 0;
}
.button-siza {
  display: flex;
  gap: 20px;
  margin-top: -20px;
}
.size-btn {
  background: transparent;
  color: black;
  text-decoration: none;
  padding: 10px 25px;
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
}
.sigle-page_btn {
  background: #333;
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  display: inline-block;
  margin-top: 10px;
}
