.single-page {
  box-shadow: 0 0 5px #ccc;
  padding: 15px 10px;
}
.single-page h2{
  text-align: center;
}
.details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px 0;
}
.details-img {
  max-width: 470px;
  min-width: 290px;
  height: 300px;
  width: 100%;
  display: block;
  object-fit: cover;
}
.details .content {
  max-width: 500px;
  min-width: 290px;
  margin: 25px;
}
.content .row {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
  align-items: center;
}
.content .row h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.content .row span {
  color: crimson;
}
.content .colors button {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  outline: none;
  margin-right: 5px;
}
.content p {
  line-height: 1.5;
  margin: 15px 0;
}
.sigle-page_btn {
  background: #333;
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  display: inline-block;
}
