@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  /* font-family: "Roboto", sans-serif; */
}
button {
  cursor: pointer;
}
button:active {
  transform: scale(0.95);
}
ul,
li,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
Section {
  box-shadow: 0 0 5px #ccc;
  padding: 15px 10px;
}
